// Brand Colors
$white: #FFFFFF;
$black: #000000;
$light-gray: #F8F8F8;
$dark-brown: #542D0C;
$red: #EE1D23;
$green: #00A54F;
$primary: #1976d2;

// Status Colors
$success: #4caf50;
$danger: #f44336;
$warning: #ff9800;
$info: #2196f3;

// Text Colors
$text-dark: $dark-brown;
$text-light: $white;